@charset "UTF-8";

/************************************ outer ************************************/

header::after, nav::after, aside::after, div::after, section::after, li::after, select::after {
    content: "";
    display: table;
    clear: both;
    cursor: auto;
}

img#mainTitle {
    cursor: pointer;
}

div#topLeft:hover, div#topRight:hover, div#topWrite:hover, div.category:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body {
    min-width: 600px;
    margin: 0;
    padding: 0;
    background: #181A1B;
    color: #C3C3C3;
    list-style: none;
    font-family: "arial";
}

div#main {
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 1600px) {
    div#main {
        width: calc(100% - 40px);
    }
}

/************************************ header ************************************/

header {
    width: 100%;
}

div#topLeft {
    width: 70px;
    margin-left: 7%;
    float: left;
    font-size: 2ex;
    text-align: center;
    color: #C8C3BC;
}

div#topRight {
    width: 70px;
    margin-right: 7%;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#topWrite {
    width: 70px;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

img#mainTitle {
    width: 95%;
    max-width: 700px;
}

nav {
    width: calc(100% - 40px);
    padding: 20px 20px 0px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    text-align: center;
    background: #1A1C1D;
}

div#nav{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div.nav_icon{
    height: 50px;
    padding: 5px;
    float: left;
    border-radius: 10px;
    background: #222426;
    cursor: pointer;
}

img.nav_icon{
    height: 100%;
}

/************************************ footer ************************************/

a.footer:link {text-decoration: none; color: darkgray;}
a.footer:visited {text-decoration: none; color: darkgray;}
a.footer:active {text-decoration: none; color: darkgray;}
a.footer:hover {text-decoration: underline; color: #FF2E2E;}

footer {
    margin: 40px;
    font-size: 2ex;
    color: darkgray;
}

/************************************ content ************************************/

section {
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #1A1C1D;
}

div#contents {
    width: 100%;
}

div#left {
    width: 50%;
    float: left;
}

div#right {
    width: 50%;
    float: right;
}

/* div.content:hover{
    background-color: #36383A;
    cursor: pointer;
} */

div.content {
    width: calc(100% - 40px);
    margin: 10px 10px 10px 10px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    color: white;
    background: #222426;
}

iframe.content_iframe{
    width: 100%;
    height: 100%;
}
