section {
    padding: 10px;
    border-radius: 20px;
    background-color: #1A1C1D;
}

div#content {
    width: calc(100% - 60px);
    margin: 10px 10px 10px 10px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    background: #222426;
    color: white;
}

input#input_title {
    width: 94%;
    padding: 3%;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;
    font-size: 4ex;
    font-weight: bold;
    background: #36383A;
    color: white;
    cursor: text;
}

select#input_class {
    width: 30%;
    padding: 1.5%;
    margin-bottom: 10px;
    border:none;
    border-radius: 10px;
    float:right;
    font-size: 2ex;
    background: #36383A;
    color: white;
    cursor: pointer;
}

button#btn_submit{
    width: 80px;
    height: 40px;
    margin-top: 5px;
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 2.2ex;
    font-weight: bold;
    background: #36383A;
    color: white;
    cursor: pointer;
}

button#btn_submit:hover{
    border: none;
    background: #484A4C;
}
