a.footer:link {text-decoration: none; color: darkgray;}
a.footer:visited {text-decoration: none; color: darkgray;}
a.footer:active {text-decoration: none; color: darkgray;}
a.footer:hover {text-decoration: underline; color: #FF2E2E;}

footer {
    margin: 40px;
    font-size: 2ex;
    color: darkgray;
}
