section {
    padding: 10px;
    border-radius: 20px;
    background: #1A1C1D;
}

div#content {
    background: #222426;
}

div#content_ban{
    background: #3D202D;
}

div#content, div#content_ban{
    width: calc(100% - 280px);
    margin: 10px 0px 10px 10px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

div#content_title {
    padding: 5% 5% 20px 5%;
    font-size: 5ex;
    font-weight: bold;
}

div#content_date {
    padding: 0px 5% 2% 5%;
    vertical-align: bottom;
    text-align: right;
    font-size: 2ex;
}

hr{
    background: #C3C3C3;
}

div#content_content {
    margin-top: 20px;
    padding: 30px;
    white-space: pre-wrap;
}

button.content_control{
    width: 80px;
    height: 40px;
    margin: 70px 20px 20px 0px;
    float: right;
    border: 1px solid #464646;
    border-radius: 5px;
    font-size: 2.2ex;
    font-weight: bold;
    background: #36383A;
    color: white;
    cursor: pointer;
}

button.content_control:hover{
    border: none;
    background: #484A4C;
}

@media screen and (max-width: 1600px) {
    aside {
        display: none;;
    }

    div#content, div#content_ban{
        width: calc(100% - 60px);
    }
}
