section {
    padding: 10px;
    border-radius: 20px;
    background: #1A1C1D;
}

div#contents {
    width: calc(100% - 220px);
    margin-top: 10px;
}

div#left {
    width: 50%;
    float:left;
}

div#right {
    width: 50%;
    float: right;
}

div.content, button.page{
    background: #222426;
}

div.content_ban{
    background: #3D202D;
}

div.content:hover, button.page:hover{
    background-color: #36383A;
    cursor: pointer;
}

div.content_ban:hover{
    background: #5B243A;
    cursor: pointer;
}

div.content, div.content_ban {
    width: calc(100% - 60px);
    margin: 0px 10px 20px 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
}

div.content_title {
    padding: 30px 8% 20px 8%;
    font-size: 4ex;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.content_date {
    padding: 0px 4% 2% 4%;
    vertical-align: bottom;
    text-align: right;
    font-size: 2ex;
}

hr{
    background: #C3C3C3;
    margin-bottom: 20px;
}

div.content_bot{
    text-align: center;
}

img.content_thumbnail {
    max-width: 90%;
    max-height: 400px;
    padding-bottom: 10px;
    font-size: 2.5ex;
    line-height: 200%;
    word-break: break-all;
}

div.content_summary {
    width: 94%;
    padding: 0 10px 10px 10px;
    font-size: 2ex;
    line-height: 200%;
    word-break: break-all;
}

div#pages{
    margin: 10px 0 30px 0;
    text-align: center;
}

button.page{
    width: 35px;
    height: 30px;
    margin: 0 2px 0 2px;
    color: white;
    border: 1px solid #464646;
    border-radius: 5px;
    font-size: 2ex;
}

button#selectedPage{
    background-color: #36383A;
}

@media screen and (max-width: 1600px) {
    button.page {
        width: 30px;
        height: 30px;
        margin: 0 2px 0 2px;
        font-size: 1.7ex;
    }
}
