body{
    height: 100%;
    background: #36383A;
    color: #C8C3BC;
}

select#geo_name{
    width: 180px;
    margin: 5px;
    float: right;
    font-size: 2ex;
    background: #36383A;
    color: white;
    cursor: pointer;
}

div#now{
    width: 100%;
    display: flex;
}

div#now_img{
    width: 150px;
    height: 100px;
}

img#now_img{
    width: 100%;
    height: 100%;
}

div#now_detail{
    padding: 10px;
}
