div#dust_contain{
    width: 100%;
    height: 100%;
}
div#dust_img_contain{
    width: 90%;
    height: 86%;
    position: absolute;
    top: 10%;
    left: 5%;
}
img#now_img{
    width: 100%;
    height: 100%;
}
div.loc{
    padding: 1px;
    display:inline-block;
    position: absolute;
    font-size: 5vw;
}
div#busan       {top: 66%; left: 76%;}
div#chungbuk    {top: 38%; left: 50%;}
div#chungnam    {top: 43%; left: 23%;}
div#daegu       {top: 55%; left: 66%;}
div#daejeon     {top: 48%; left: 40%;}
div#gangwon     {top: 25%; left: 60%;}
div#gwangju     {top: 67%; left: 28%;}
div#gyeongbuk   {top: 45%; left: 63%;}
div#gyeonggi    {top: 31%; left: 40%;}
div#gyeongnam   {top: 65%; left: 60%;}
div#incheon     {top: 28%; left: 20%;}
div#jeju        {top: 88%; left: 15%;}
div#jeonbuk     {top: 57%; left: 33%;}
div#jeonnam     {top: 73%; left: 30%;}
div#sejong      {top: 43%; left: 40%;}
div#seoul       {top: 23%; left: 33%;}
div#ulsan       {top: 60%; left: 80%;}
