/************************************ outer ************************************/

header::after,
nav::after,
aside::after,
div::after,
section::after,
li::after,
select::after {
    content: "";
    display: table;
    clear: both;
    cursor: auto;
}

img#mainTitle {
    cursor: pointer;
}

div#topLeft:hover,
div#topRight:hover,
div#topWrite:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    background: #181A1B;
    color: #C3C3C3;
    list-style: none;
    font-family: "arial";
}

div#main {
    width: 70%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 1600px) {
    div#main {
        width: calc(100% - 40px);
    }
}


/************************************ header ************************************/

header {
    width: 100%;
}

div#topLeft {
    width: 70px;
    margin-left: 7%;
    float: left;
    font-size: 2ex;
    text-align: center;
    color: #C8C3BC;
}

div#topRight {
    width: 70px;
    margin-right: 7%;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#topWrite {
    width: 70px;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

img#mainTitle {
    width: 700px;
}


/************************************ aside ************************************/

aside {
    width: 160px;
    margin: 10px;
    padding: 20px;
    float: right;
    border-radius: 20px;
    background: #222426;
    display: block;
}

div#profile {
    margin: 20px 10px 40px 10px;
}

ul#category {
    margin: 10px;
    padding: 0px;
    list-style: none;
}

li.category {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2.3ex;
    font-weight: bold;
}

li.category:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/************************************ footer ************************************/

a.footer:link {
    text-decoration: none;
    color: darkgray;
}

a.footer:visited {
    text-decoration: none;
    color: darkgray;
}

a.footer:active {
    text-decoration: none;
    color: darkgray;
}

a.footer:hover {
    text-decoration: underline;
    color: #FF2E2E;
}

footer {
    margin: 40px;
    font-size: 2ex;
    color: darkgray;
}


/************************************ content ************************************/

a:link {
    text-decoration: none;
    color: skyblue;
}

a:visited {
    text-decoration: none;
    color: skyblue;
}

a:active {
    text-decoration: none;
    color: skyblue;
}

a:hover {
    text-decoration: underline;
    color: #FF2E2E;
}

section {
    padding: 10px;
    border-radius: 20px;
    background: #1A1C1D;
}

div#posting {
    background: #222426;
}

div#posting_ban {
    background: #3D202D;
}

div#posting,
div#posting_ban {
    width: calc(100% - 280px);
    margin: 10px 0px 10px 10px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    color: white;
}

div#posting_title {
    padding: 5% 5% 20px 5%;
    font-size: 5ex;
    font-weight: bold;
}

div#posting_date,
div#posting_writer {
    padding: 0px 5% 10px 5%;
    vertical-align: bottom;
    text-align: right;
    font-size: 2ex;
}

hr {
    background: #C3C3C3;
}

div#posting_content {
    margin-top: 20px;
    padding: 30px;
    white-space: pre-wrap;
}

button.posting_control {
    width: 80px;
    height: 40px;
    margin: 20px 10px 20px 0px;
    float: right;
    border: 1px solid #464646;
    border-radius: 5px;
    font-size: 2.2ex;
    font-weight: bold;
    background: #36383A;
    color: white;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

button.posting_control:hover {
    border: none;
    background: #484A4C;
}

@media screen and (max-width: 1600px) {
    aside {
        display: none;
        ;
    }
    div#posting,
    div#posting_ban {
        width: calc(100% - 60px);
    }
}