header {
    width: 100%;
}

div#topLeft {
    width: 70px;
    margin-left: 7%;
    float: left;
    font-size: 2ex;
    text-align: center;
    color: #C8C3BC;
}

div#topRight {
    width: 70px;
    margin-right: 7%;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#topWrite {
    width: 70px;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

img#mainTitle {
    width: 700px;
}
