/************************************ outer ************************************/

header::after, nav::after, aside::after, div::after, section::after, li::after, select::after {
    content: "";
    display: table;
    clear: both;
    cursor: auto;
}

img#mainTitle {
    cursor: pointer;
}

div#topLeft:hover, div#topRight:hover, div#topWrite:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
body {
    min-width: 800px;
    margin: 0;
    padding: 0;
    background: #181A1B;
    color: #C3C3C3;
    list-style: none;
    font-family: "arial";
}


div#main {
    width: 70%;
    margin: 0px auto;
    padding: 20px;
    padding-top: 10px;
}

@media screen and (max-width: 1600px) {
    div#main {
        width: calc(100% - 40px);
    }
}

/************************************ header ************************************/

header {
    width: 100%;
}

div#topLeft {
    width: 70px;
    margin-left: 7%;
    float: left;
    font-size: 2ex;
    text-align: center;
    color: #C8C3BC;
}

div#topRight {
    width: 70px;
    margin-right: 7%;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#topWrite {
    width: 70px;
    float: right;
    font-size: 1.8ex;
    text-align: center;
    color: #C8C3BC;
}

div#title {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 90px;
    text-align: center;
}

img#mainTitle {
    width: 700px;
}

/************************************ aside ************************************/

aside {
    width: 160px;
    margin: 10px;
    padding: 20px;
    float: right;
    border-radius: 20px;
    background: #222426;
    display: block;
}

div#profile{
    margin: 20px 10px 40px 10px;
}

ul#category {
    margin: 10px;
    padding: 0px;
    list-style: none;
}

li.category {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2.3ex;
    font-weight: bold;
}

li.category:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/************************************ footer ************************************/

a.footer:link {text-decoration: none; color: darkgray;}
a.footer:visited {text-decoration: none; color: darkgray;}
a.footer:active {text-decoration: none; color: darkgray;}
a.footer:hover {text-decoration: underline; color: #FF2E2E;}

footer {
    margin: 40px;
    font-size: 2ex;
    color: darkgray;
}

/************************************ content ************************************/

section {
    padding: 10px;
    border-radius: 20px;
    background: #1A1C1D;
}

div#contents {
    width: calc(100% - 220px);
    margin-top: 10px;
}

div#left {
    width: 50%;
    float:left;
}

div#right {
    width: 50%;
    float: right;
}

div.content, button.page{
    background: #222426;
}

div.content_ban{
    background: #3D202D;
}

div.content:hover, button.page:hover{
    background-color: #36383A;
    cursor: pointer;
}

div.content_ban:hover{
    background: #5B243A;
    cursor: pointer;
}

div.content, div.content_ban {
    width: calc(100% - 60px);
    margin: 0px 10px 20px 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
}

div.content_title {
    padding: 30px 8% 20px 8%;
    font-size: 4ex;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.content_date {
    padding: 0px 4% 2% 4%;
    vertical-align: bottom;
    text-align: right;
    font-size: 2ex;
}

hr{
    background: #C3C3C3;
    margin-bottom: 20px;
}

div.content_thumbnail_container{
    text-align: center;
}

img.content_thumbnail {
    max-width: 90%;
    max-height: 400px;
    padding-bottom: 10px;
    font-size: 2.5ex;
    line-height: 200%;
    word-break: break-all;
}

div.content_summary {
    width: 94%;
    padding: 0 10px 10px 10px;
    font-size: 2ex;
    line-height: 200%;
    word-break: break-all;
}

div#pages{
    margin: 10px 0 30px 0;
    text-align: center;
}

button.page{
    width: 35px;
    height: 30px;
    margin: 0 2px 0 2px;
    color: white;
    border: 1px solid #464646;
    border-radius: 5px;
    font-size: 2ex;
}

button#selectedPage{
    background-color: #36383A;
}

@media screen and (max-width: 1600px) {
    button.page {
        width: 30px;
        height: 30px;
        margin: 0 2px 0 2px;
        font-size: 1.7ex;
    }
}
