img#now_img{
    width: 100%;
    height: 100%;
}

div#now{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 12%;
}

div#now_img_contain{
    width: 45%;
    position: absolute;
    top: 10%;
    left: 5%;
}

div#now_detail{
    width: 45%;
    height: 100%;
    font-size: 6vw;
    position: absolute;
    vertical-align: middle;
    top: 10%;
    left: 55%;
}
