img#tomm0_img, img#tomm1_img{
    width: 100%;
    height: 100%;
}

div#tomm{
    width: 96%;
    height: 35%;
    position: absolute;
    top: 72%;
    left: 2%;
}

div#tomm0{
    width: 50%;
    height: 100%;
    position: absolute;
}

div#tomm1{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

div#tomm0_img_contain, div#tomm1_img_contain{
    width: 45%;
    position: absolute;
    left: 5%;
}

div#tomm0_detail, div#tomm1_detail{
    width: 45%;
    height: 100%;
    font-size: 3vw;
    position: absolute;
    vertical-align: middle;
    left: 55%;
}
